<div class="jumbotron">
  <h1>Amazing Photo App</h1>
  <h3>You will love keeping your photos here</h3>
</div>

<h2> Lifetime Plan </h2>
<ul>
  <li> Unlimited image uploads </li>
  <li> Responsive design: Use the Amazing Photo App in your PC, Mac, smartphone, tablet, etc. </li>
  <li> Price: $150 </li>
  <li> There is no monthly subscription. Pay once, and use our system forever!
</ul>
<%= link_to("Sign up now", new_user_registration_path, class: "btn btn-primary") %>

</div>
