.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc:after {
  width: 0;
  height: 0;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  position: absolute;
  margin-top: 7px;
  margin-left: 5px;
}

th .desc:after {
  width: 0;
  height: 0;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #333;
  position: absolute;
  margin-top: 7px;
  margin-left: 5px;
}

h1, h2, h3, h4, h5, h6 {
  color:  #347ab7;
}

.jumbotron {
  background-image:     asset-url('moraine_lake.jpg');
  background-size:      cover;
  background-repeat:    no-repeat;
  background-position:  center center;
  background-color:     #fff;
  text-shadow:          2px 2px 4px #000000;
  color:                #fff;
}

.jumbotron h1 {
  font-size:    3em;
  padding:      50px;
  text-align:   center;
}

.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5,
.jumbotron h6  {
  color:  #fff
}

.no-list-style {
  list-style-type:  none;
  padding-left:     0px;
}

.medium-padding-bottom {
  padding-bottom:   20px;
}

.medium-padding-top {
  padding-top:   20px;
}

.fotter {
  margin-top:     30px;
  margin-bottom:  30px;
  padding:        10px;
  border-top:     1px solid #e6e6e6;
  color:          #347ab7;
}

.image-max-size {
  max-width:      1000px;
  max-height:     600px;
}

.border-top {
  border-top:     1px solid #e6e6e6;
  margin-top:     30px;
}
