// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-image:     asset-url('moraine_lake.jpg');
  background-size:      cover;
  background-repeat:    no-repeat;
  background-position:  center center;
  background-color:     #fff;
}

.jumbotron h1, h3 {
  text-shadow:  2px 2px 4px #000000;
  color:        #fff;
}

.jumbotron h1 {
  padding:      2em;
  text-align:   center;
  font-size:    3em;
}
