<%= form_for @image, html: {multipart: true, class: "form-horizontal image"} do |f| %>

  <%= f.file_field :pictures, multiple: true, accept: "image/jpeg,image/gif,image/png" %>

  <div class="form-group medium-padding-top">
    <div class="col-lg-10">
      <%= f.button class: "btn btn-primary", id: "image-btn-upload" do %>
        <i class="fa fa-upload"></i> Upload Image
      <% end %>
    </div>
  </div>

<% end %>


