<h2 class="medium-padding-bottom"> Congratulations! Your purchase has been successfully completed </h2>
<div class="well well-lg">
  <p>Here is your purchase summary:</p>
  <p><strong>Amount: $150.00</strong></p>
</div>

<%= link_to("Start uploading your images now!", images_path) %>
